html,
body {
  font-size: 20px;
  font-family: "Fira Mono", monospace;
  margin: 0;
  background: #476280;
  scroll-behavior: smooth;
}

.Ueberschrift {
  font-size: 40px;
  color: whitesmoke;
  text-align: center;
}

.Einfuehrung-Module {
  font-size: 35px;
  margin-bottom: 0;
  color: whitesmoke;
  text-align: center;
}

.Einfuehrung-Module-smaller {
  font-size: 30px;
  margin-bottom: 0;
  color: whitesmoke;
  text-align: center;
}

.menu {
  background: #f6ad72;
  height: 5rem;
  font-size: 25px;
}

#menu-item-smaller {
  font-size: 20px;
}

.menu ol {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.menu > ol {
  max-width: 1200px;
  padding: 0 2rem;
  padding-top: 0.7rem;
  display: flex;
}

.menu > ol > .menu-item {
  flex: 1;
  padding: 0.75rem 0;
  padding-bottom: 0;
}

.menu-item {
  position: relative;
  line-height: 2rem;
  text-align: center;
}

.menu-item:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.menu-item a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  color: #fff;
}

#active {
  text-decoration-line: underline;
  color: #fff;
  cursor: pointer;
  text-underline-offset: 0.2em;
}

.sub-menu .menu-item {
  padding: 0.1rem 0;
  background: #f6ad72;
  opacity: 0;
  transform-origin: bottom;
  animation: enter 0.2s ease forwards;
}

.sub-menu .menu-item:nth-child(1) {
  animation-duration: 0.2s;
  animation-delay: 0s;
}

.sub-menu .menu-item:nth-child(2) {
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}

.sub-menu .menu-item:nth-child(3) {
  animation-duration: 0.4s;
  animation-delay: 0.2s;
}

.sub-menu .menu-item:nth-child(4) {
  animation-duration: 0.5s;
  animation-delay: 0.3s;
}

.sub-menu .menu-item:nth-child(5) {
  animation-duration: 0.6s;
  animation-delay: 0.4s;
}

.sub-menu .menu-item:nth-child(6) {
  animation-duration: 0.7s;
  animation-delay: 0.5s;
}

.sub-menu .menu-item:hover {
  background: #f68c72;
}

.sub-menu .menu-item a {
  padding: 0 0.75rem;
}

.sub-menu {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
}

.menu-item:hover > .sub-menu {
  display: block;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.video {
  text-align: center;
  padding-top: 1rem;
}

fieldset {
  border-style: none;
}


.aufgabe {
  text-align: center;
  color: whitesmoke;
}

input:hover + label,
input:focus + label,
input:checked + label {
  text-decoration-line: underline;
  color: #fff;
}

#mc {
  cursor: pointer;
}

#ni {
  cursor: pointer;
}
#ae {
  cursor: pointer;
}
#vi {
  cursor: pointer;
}

form {
  padding-left: 345px;
  text-align: left;
  color: whitesmoke;
  font-size: 23px;
}

.button1div{
  text-align: center;
}

.button {
  background-color: #f68c72;
  border: none;
  border-radius: 100px;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: #476280;
  border: 2px solid #f68c72;
}

.button1:hover {
  background-color: #f68c72;
  color: white;
}

#kontaktformular {
  padding-left: 350px;
}

footer {
  text-align: center;
  color: whitesmoke;
  font-size: 10px;
}
